.all{
    display: flex;
}
  
.container{
    margin: auto;
    width: 15vw;
    padding: 8%;
    height: 30vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #534f4f47;

}
.textContainer{

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.container p {
  font-size: 13px;
}

.container h1{
    font-size: 50px;
    margin-top: 10px;
}

.container h3{
    font-size: 20px;
}
.container img{
    width: 100px;
    height: 100px;
}